<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新的返货详情</title>
</head>
<body>
    <h1 style="text-align: center">添加新的返货详情</h1>
    <a href="/shop/fanhuo">返回</a>
    <form action="" method="post">
        {% csrf_token %}
        <p>商品款号：<input type="text" name="number">{{ error }}</p>
        <p>颜色：<input type="text" name="color"></p>
        <p>M：<input type="text" name="m_total" value="{{ 0 }}"></p>
        <p>L：<input type="text" name="l_total" value="{{ 0 }}"></p>
        <p>XL：<input type="text" name="xl_total" value="{{ 0 }}"></p>
        <p>2XL：<input type="text" name="xxl_total" value="{{ 0 }}"></p>
        <p>3XL：<input type="text" name="xxxl_total" value="{{ 0 }}"></p>
        <p>4XL：<input type="text" name="xxxxl_total" value="{{ 0 }}"></p>
        <p>备注:<input type="text" name="tips" value="{{ '返厂' }}"></p>
        <button>提交</button>
    </form>
</body>
</html>