<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑页面</title>
</head>
<body>
    <h1 style="text-align: center">编辑的款号详情</h1>
    <a href="/shop/jinhuo">返回</a>
    <form action="" method="post">
        {% csrf_token %}
        <p>款号：<input type="text" name="number" value="{{ obj.number }}">{{ error }}</p>
        <p>类别：<input type="text" name="sort" value="{{ obj.sort }}"></p>
        <p>总数：<input type="text" name="total" value="{{ obj.total }}"></p>
        <button>提交</button>
    </form>
</body>
</html>