<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服装店管理系统</title>
    <style>
        .shouye{
            overflow: hidden;
        }
        .shouye a{
            text-decoration: none;
        }
        .shouye li{
            float: left;
            margin: 30px;
            font-size: 30px;
        }

    </style>
</head>
<body>

    <h1 style="text-align: center">进销存会员积分系统</h1>
    <ul class="shouye">
        <li><a href="/shop/jinhuo">进货</a></li>
        <li><a href="/shop/kucun">库存</a></li>
        <li><a href="/shop/xiaoshou">销售</a></li>
        <li><a href="/shop/fanhuo">调货返货</a></li>
        <li><a href="/shop/vip">会员</a></li>
    </ul>
</body>
</html>